div.top-padding {
    padding-top: 25px;
    background-color: white;
    margin-top: 10px;
    border-radius: 5px;
    padding-bottom: 5px; 
}
accordion-group.top-margin-5 {
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;  
}
.bold{
    font-weight: bold;
}
.top-buffer { 
    margin-top:15px; 
}
.paging-top-margin {
    margin-top: 20px;
    text-align: right;
}