<div [@routerTransition]>
    <app-page-header [heading]="'Personal Details'" [icon]="'fa-user-o'"></app-page-header>
    <div>
        <img src="assets/images/IMG_20170801_160324_HDR.jpg" width="150px" class="img-circle left-margin" />
        <!--<label class="left-margin-2 bold">Follow me on:</label>
        <a href="https://www.facebook.com/sagar.sathe2020" class="fa fa-facebook left-margin" target="_blank"></a>
        <a href="https://www.linkedin.com/in/sagarsathe2020/" class="fa fa-linkedin left-margin" target="_blank"></a>
        <a href="https://www.instagram.com/sagarsathe2020/" class="fa fa-instagram left-margin" target="_blank"></a>
        <a href="https://plus.google.com/+SagarSathe2020" class="fa fa-google left-margin" target="_blank"></a>-->
    </div>
    <div class="box" *ngFor="let item of personalDetails">
        <div class="row top-margin-5">
            <span class="col-sm-2 bold">Name</span>
            <span class="col-sm-10">{{ item.Name }}</span>
        </div>
        <hr>
        <div class="row">
            <span class="col-sm-2 bold">Contact number</span>
            <span class="col-sm-10"><a href="tel:{{item.Contact}}">+91-{{ item.Contact }}</a></span>
        </div>
        <hr>
        <div class="row">
            <span class="col-sm-2 bold">Email ID</span>
            <span class="col-sm-10"><a href="mailto:{{ item.Email }}">{{ item.Email }}</a></span>
        </div>
        <hr>
        <div class="row">
            <span class="col-sm-2 bold">Date of birth</span>
            <span class="col-sm-10">{{ item.DOB }}</span>
        </div>
        <hr>
        <div class="row">
            <span class="col-sm-2 bold">Languages known</span>
            <span class="col-sm-10">{{ item.Languages_known }}</span>
        </div>
        <hr>
        <div class="row">
            <span class="col-sm-2 bold">Address</span>
            <span class="col-sm-10">{{ item.Address }}</span>
        </div>
    </div>
</div>