<div [@routerTransition]>
    <app-page-header [heading]="'Declaration'" [icon]="'fa-pencil-square-o'"></app-page-header>
    <div class="box">
        <div class="top-margin left-margin">
            I, hereby declare that the above provided information is true to the best of my knowledge and belief.
        </div>
        <div class="top-margin-sign left-margin">
            Yours Sincerely,
        </div>
        <img src="assets/images/20171011_111432.jpg" width="150px" class="left-margin"/>
    </div>
</div>