.left-margin{
    margin-left: 20px; 
}
.top-margin{
    margin-top: 20px;
}
.top-margin-sign{
    margin-top: 50px;
}
.box {
    background-color: white;
    margin-top: 10px;
    border-radius: 5px;
    padding-top: 20px; 
    padding-bottom: 20px;
    padding-left: 15px; 
}